* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  height: 85px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  background: whitesmoke;
}

.logo {
  color: blue;
  font-size: 24px;
  background: red;
}

.links {
  display: flex;
  gap: 175px;
}

.main_container {
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.title{
    background: sienna;
    width: 100%;
    max-width: 1200px;
}
.pic-1{
    aspect-ratio: 4/3;
    background: black;
    width: 100%;
}
.pic-2{
    width: 100%;
    background: black;
    aspect-ratio: 4/3;
}
.picture{
    gap: 15px;
    display: flex;
    max-width: 1200px;
    width: 100%;
}
.creator{
    width: 50%;
    background: aliceblue;
}