* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navigation {
  width: 100%;
  height: 85px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  background: whitesmoke;
}

a {
  cursor: pointer;
  font-size: 20px;
}

.links {
  display: flex;
  gap: 175px;
}

.logo {
  color: blue;
  font-size: 24px;
  background: red;
}

.page-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
  overflow: hidden;
}

.calendar {
  height: auto;
  width: 100%;
  max-width: 1200px;
  border: 1px solid black;
}

.month {
  height: 100px;
  width: 100%;
  background: white;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.week {
  width: 100%;
  height: 75px;
  background: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  border-bottom: 1px solid black;
}

.weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.weekday:nth-child(7) {
  border-right: none;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.day {
  background: white;
  aspect-ratio: 1.5/1;
  padding: 16px;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
}

.day span {
  font-size: 18px;
}

.day:nth-child(1),
.day:nth-child(8),
.day:nth-child(15),
.day:nth-child(22),
.day:nth-child(29) {
  border-left: none;
}

.day:nth-child(-n + 7) {
  border-top: none;
}

.carousel {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  gap: 8px;
  overflow: auto;
}

.card {
  height: auto;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(max-content,
      min-content);
  grid-template-rows: minmax(min-content, max-content) minmax(max-content,
      min-content);
  background: black;
  border: 1px solid black;
  gap: 1px;
}

.area-1 {
  grid-area: 1/1/2/2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
  padding: 16px;
}

.area-2 {
  grid-area: 1/2/2/3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
  padding: 16px;
}

.area-3 {
  grid-area: 2/1/3/3;
  height: 100%;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

.team-logo {
  width: 300px;
  aspect-ratio: 16/9;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.canadien {
  background-image: url("./assets/Montreal_Canadiens.png");
}

.red-wings {
  background-image: url("./assets/detroit.png");
}

.flyers {
  background-image: url("./assets/flyers.png");
}

.panthers {
  background-image: url("./assets/Unknown.png");
}

.bruin {
  background-image: url("./assets/boston-bruins-logo.png");
  width: 300px;
}

.black-hawk {
  background-image: url("./assets/blackhawks.png");
  
}

.senator {
  background-image: url("./assets/senators.png");
}

.island {
  background-image: url("./assets/islanders.png");
}
.winipeg{
  background-image: url(./assets/Unknown.jpeg);
}
.Blues{
  background-image: url(./assets/blues.png);
}
.day:hover{
   background-color: #f0f0f0;
    transition: 0.3s ease;
}
.ave{
  background-image: url(./assets/ave.png);
}
.star{
  background-image: url(./assets/star.jpeg);
}
