.main_container {
    background: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    height: 500px;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
    gap: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    color: blue;
    font-size: 24px;
    background: red;
}

.credentials {
    

    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px;
    font-size: 18px;
}

.form-input {
    height: 44px;
    padding-left: 8px;
}
.submit{
    height: 44px;
    width: 100%;
    font-size: 18px;
}
a{
    width: 100%;
}